


/******************************
	HELPER
******************************/
.nopadding{
	padding-right: 0px;
	padding-left: 0px;
}


.margin-bottom{
	margin-bottom: 10px;
}

/******************************
	CONTAINERS
******************************/
body{
	color: #212529;
	font-family: -apple-system,BlinkMacSystemFont,"Lato",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-weight: 300;
}
aside{
	background: #E3E8E9;
	border-right:1px solid #dedede;
	position: fixed;
	height: 100%;
	top:0px;
	z-index: 99;
}
aside.dark{background: #406477;}
aside.xs{width: 60px;}
aside.sm{width: 120px;}
aside.md{width: 240px;}
aside.left{left: 0px;}
aside.right{right: 0px;}

main{
	padding-left: 120px;
}
main.left-xs{padding-left:60px}
main.left-sm{padding-left:120px}
main.left-md{padding-left:240px}
main.right-xs{padding-right:60px}
main.right-sm{padding-right:120px}
main.right-md{padding-right:240px}


/******************************
	TEXT & COLOR
******************************/
[class*="bg-"]{
/*
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	margin-bottom: 10px;*/
}

[class*="bg-"].padding{
	padding: 10px;
}

.bg-primary{background-color: #07c;}
.bg-primary-light{background-color: #e0eaf1;}
.bg-primary-ultra{background-color: #f9fbfd;}

.bg-secondary-light{background-color: #A2A7AC;}
.bg-secondary-ultra{background-color: #C5C6C7;}

.bg-success{background-color: #77BE21;}
.bg-success-light{background-color: #8cc34a;}
.bg-success-ultra{background-color: #D6E7C2;}

.bg-danger {background-color: #dc3545;}
.bg-danger-light {background-color: #EA7782;}
.bg-danger-ultra {background-color: #FDA8B0;}

.bg-warning{}
.bg-warning-light{background-color:#FDD869;}
.bg-warning-ultra{background-color:#FDEEBF;}

.bg-info{}
.bg-info-light{background-color:#4CC7DB;}
.bg-info-ultra{background-color:#B0D8DE;}

.bg-gray{background-color: #AAA;}
.bg-gray-light{background-color: #DEDEDE;}
.bg-gray-ultra{background-color: #F0F0F0;}

.section-padding{
	padding: 25px 0px;
}

/******************************
	FORM
******************************/
.form-control{
	border: 1px solid #ccc;
}
input.form-control,
select.form-control{
	height: 45px;
}

.form-select{
	height: auto;
	width: auto;
	position: relative;
	background: #fff none repeat scroll 0 0;
}
.form-select .form-control,
.form-select select.form-control:not([size]):not([multiple]){
	background: transparent;
	border: 1px solid #ccc;
	box-shadow: none;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	margin-top: 15px;
	padding: 12px 20px;
	position: relative;
	text-align: left;
	z-index: 98;
	margin: 0px;
	height: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.form-select select::-ms-expand {
	display: none;
}
.form-select option{
	padding: 12px 15px;
	font-size: 16px;
}
.form-select:after{
	position: absolute;
	content: ' ';
	z-index: 1;
	cursor: pointer;
    background-color: #f1f1f1;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAzMSAxNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+aWNuLWRyb3Bkb3duPC90aXRsZT48cGF0aCBkPSJNLjAwMyAxLjQxN2MwLS4zNjIuMTM4LS43MjUuNDExLTEuMDAzYTEuNDA1IDEuNDA1IDAgMCAxIDEuOTkzIDBMMTUuNSAxMy41OCAyOC41OTUuNDE0YTEuNDA1IDEuNDA1IDAgMCAxIDEuOTkzIDBjLjU1LjU1My41NSAxLjQ1MSAwIDIuMDA0TDE2LjQ5NiAxNi41ODZhMS40MDUgMS40MDUgMCAwIDEtMS45OTMgMEwuNDExIDIuNDE4QTEuNDE1IDEuNDE1IDAgMCAxIDAgMS40MTVsLjAwMy4wMDJ6IiBmaWxsPSIjOEY4RThFIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=");
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: 15px 8px;
    border-radius: 0 3px 3px 0;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid #ccc;
    height: 45px;
    width: 45px;
}


.bx-divider-left{
	border-left: 2px solid #f0f0f0;
	padding-left: 15px;
	padding-bottom: 40px;
	/*margin-top: 15px;*/
}






.btn-success-light {
	background-color: #8cc34a;
	color: #fff;
}



@font-face{font-family:'Lato';src:url("../fonts/lato-hairline.eot");src:url("../fonts/lato-hairline.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-hairline.woff2") format("woff2"),url("../fonts/lato-hairline.woff") format("woff"),url("../fonts/lato-hairline.ttf") format("truetype");font-weight:100;font-style:normal}@font-face{font-family:'Lato';src:url("../fonts/lato-hairlineitalic.eot");src:url("../fonts/lato-hairlineitalic.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-hairlineitalic.woff2") format("woff2"),url("../fonts/lato-hairlineitalic.woff") format("woff"),url("../fonts/lato-hairlineitalic.ttf") format("truetype");font-weight:100;font-style:italic}@font-face{font-family:'Lato';src:url("../fonts/lato-thin.eot");src:url("../fonts/lato-thin.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-thin.woff2") format("woff2"),url("../fonts/lato-thin.woff") format("woff"),url("../fonts/lato-thin.ttf") format("truetype");font-weight:200;font-style:normal}@font-face{font-family:'Lato';src:url("../fonts/lato-thinitalic.eot");src:url("../fonts/lato-thinitalic.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-thinitalic.woff2") format("woff2"),url("../fonts/lato-thinitalic.woff") format("woff"),url("../fonts/lato-thinitalic.ttf") format("truetype");font-weight:200;font-style:italic}@font-face{font-family:'Lato';src:url("../fonts/lato-light.eot");src:url("../fonts/lato-light.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-light.woff2") format("woff2"),url("../fonts/lato-light.woff") format("woff"),url("../fonts/lato-light.ttf") format("truetype");font-weight:300;font-style:normal}@font-face{font-family:'Lato';src:url("../fonts/lato-lightitalic.eot");src:url("../fonts/lato-lightitalic.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-lightitalic.woff2") format("woff2"),url("../fonts/lato-lightitalic.woff") format("woff"),url("../fonts/lato-lightitalic.ttf") format("truetype");font-weight:300;font-style:italic}@font-face{font-family:'Lato';src:url("../fonts/lato-regular.eot");src:url("../fonts/lato-regular.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-regular.woff2") format("woff2"),url("../fonts/lato-regular.woff") format("woff"),url("../fonts/lato-regular.ttf") format("truetype");font-weight:400;font-style:normal}@font-face{font-family:'Lato';src:url("../fonts/lato-italic.eot");src:url("../fonts/lato-italic.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-italic.woff2") format("woff2"),url("../fonts/lato-italic.woff") format("woff"),url("../fonts/lato-italic.ttf") format("truetype");font-weight:400;font-style:italic}@font-face{font-family:'Lato';src:url("../fonts/lato-medium.eot");src:url("../fonts/lato-medium.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-medium.woff2") format("woff2"),url("../fonts/lato-medium.woff") format("woff"),url("../fonts/lato-medium.ttf") format("truetype");font-weight:500;font-style:normal}@font-face{font-family:'Lato';src:url("../fonts/lato-mediumitalic.eot");src:url("../fonts/lato-mediumitalic.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-mediumitalic.woff2") format("woff2"),url("../fonts/lato-mediumitalic.woff") format("woff"),url("../fonts/lato-mediumitalic.ttf") format("truetype");font-weight:500;font-style:italic}@font-face{font-family:'Lato';src:url("../fonts/lato-semibold.eot");src:url("../fonts/lato-semibold.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-semibold.woff2") format("woff2"),url("../fonts/lato-semibold.woff") format("woff"),url("../fonts/lato-semibold.ttf") format("truetype");font-weight:600;font-style:normal}@font-face{font-family:'Lato';src:url("../fonts/lato-semibolditalic.eot");src:url("../fonts/lato-semibolditalic.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-semibolditalic.woff2") format("woff2"),url("../fonts/lato-semibolditalic.woff") format("woff"),url("../fonts/lato-semibolditalic.ttf") format("truetype");font-weight:600;font-style:italic}@font-face{font-family:'Lato';src:url("../fonts/lato-bold.eot");src:url("../fonts/lato-bold.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-bold.woff2") format("woff2"),url("../fonts/lato-bold.woff") format("woff"),url("../fonts/lato-bold.ttf") format("truetype");font-weight:700;font-style:normal}@font-face{font-family:'Lato';src:url("../fonts/lato-bolditalic.eot");src:url("../fonts/lato-bolditalic.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-bolditalic.woff2") format("woff2"),url("../fonts/lato-bolditalic.woff") format("woff"),url("../fonts/lato-bolditalic.ttf") format("truetype");font-weight:700;font-style:italic}@font-face{font-family:'Lato';src:url("../fonts/lato-heavy.eot");src:url("../fonts/lato-heavy.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-heavy.woff2") format("woff2"),url("../fonts/lato-heavy.woff") format("woff"),url("../fonts/lato-heavy.ttf") format("truetype");font-weight:800;font-style:normal}@font-face{font-family:'Lato';src:url("../fonts/lato-heavyitalic.eot");src:url("../fonts/lato-heavyitalic.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-heavyitalic.woff2") format("woff2"),url("../fonts/lato-heavyitalic.woff") format("woff"),url("../fonts/lato-heavyitalic.ttf") format("truetype");font-weight:800;font-style:italic}@font-face{font-family:'Lato';src:url("../fonts/lato-black.eot");src:url("../fonts/lato-black.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-black.woff2") format("woff2"),url("../fonts/lato-black.woff") format("woff"),url("../fonts/lato-black.ttf") format("truetype");font-weight:900;font-style:normal}@font-face{font-family:'Lato';src:url("../fonts/lato-blackitalic.eot");src:url("../fonts/lato-blackitalic.eot?#iefix") format("embedded-opentype"),url("../fonts/lato-blackitalic.woff2") format("woff2"),url("../fonts/lato-blackitalic.woff") format("woff"),url("../fonts/lato-blackitalic.ttf") format("truetype");font-weight:900;font-style:italic}










@font-face {
    font-family: "icon";
    src: url("../fonts-icon/icon.ttf?6vyhfg") format("truetype"),
            url("../fonts-icon/icon.woff?6vyhfg") format("woff"),
            url("../fonts-icon/icon.svg?6vyhfg#icon") format("svg");
    font-weight: normal;
    font-style: normal
}
[class^="icon-"]:before,
[class*=" icon-"]:before,
[data-icon]:before {
    font-family: "icon" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    text-align: center
}
[data-icon]:before {
    content: attr(data-icon)
}
.icon-shape_square:before{content:""}.icon-pause:before{content:""}.icon-play:before{content:""}.icon-funnel:before{content:""}.icon-funnel2:before{content:""}.icon-return3:before{content:""}.icon-return2:before{content:""}.icon-dicount:before{content:""}.icon-discount1:before{content:""}.icon-offer1:before{content:""}.icon-offernull:before{content:""}.icon-offer-fillnull:before{content:""}.icon-offer:before{content:""}.icon-offer-fill:before{content:""}.icon-discount2:before{content:""}.icon-freedelivery:before{content:""}.icon-seven:before{content:""}.icon-seven3:before{content:""}.icon-seven1:before{content:""}.icon-seven2:before{content:""}.icon-star5:before{content:""}.icon-star6:before{content:""}.icon-star3:before{content:""}.icon-uniE610:before{content:""}.icon-uniE619:before{content:""}.icon-uniE622:before{content:""}.icon-uniE63F:before{content:""}.icon-uniE68E:before{content:""}.icon-navigate_plus:before{content:""}.icon-navigate_minus:before{content:""}.icon-navigate_cross:before{content:""}.icon-symbol_percent:before{content:""}.icon-home:before{content:""}.icon-arrow_left:before{content:""}.icon-arrow_right:before{content:""}.icon-sort_down:before{content:""}.icon-arrow_up:before{content:""}.icon-navigate_down:before{content:""}.icon-navigate_up:before{content:""}.icon-navigate_left:before{content:""}.icon-navigate_right:before{content:""}.icon-navigate_check:before{content:""}.icon-navigate_open:before{content:""}.icon-navigate_close:before{content:""}.icon-aparat:before{content:""}.icon-google-with-circle:before{content:""}.icon-mail:before{content:""}.icon-symbol_at:before{content:""}.icon-sizeguide:before{content:""}.icon-box_into:before{content:""}.icon-order_list:before{content:""}.icon-door_exit:before{content:""}.icon-printer:before{content:""}.icon-arrow_circle2:before{content:""}.icon-coathanger:before{content:""}.icon-eye:before{content:""}.icon-hand_point_up:before{content:""}.icon-user:before{content:""}.icon-megaphone:before{content:""}.icon-map_location2:before{content:""}.icon-shopping_cart_full:before{content:""}.icon-gift:before{content:""}.icon-user_headset:before{content:""}.icon-window_key:before{content:""}.icon-gauge:before{content:""}.icon-phone_receiver2:before{content:""}.icon-tag:before{content:""}.icon-plus:before{content:""}.icon-shopping_cart:before{content:""}.icon-plus2:before{content:""}.icon-scroll2:before{content:""}.icon-moving_truck:before{content:""}.icon-pointer-up:before{content:""}.icon-money_bills:before{content:""}.icon-money:before{content:""}.icon-hand_money:before{content:""}.icon-magnifying_glass:before{content:""}.icon-money_interest:before{content:""}.icon-star:before{content:""}.icon-star2:before{content:""}.icon-heart:before{content:""}.icon-garbage_can:before{content:""}.icon-menu:before{content:""}.icon-arrow_cross:before{content:""}.icon-sort_up_down:before{content:""}.icon-link:before{content:""}.icon-money_refund:before{content:""}.icon-pencil:before{content:""}.icon-location_pin:before{content:""}.icon-gearwheel:before{content:""}.icon-shopping_bag_full:before{content:""}.icon-linkedin-with-circle:before{content:""}.icon-pinterest-with-circle:before{content:""}.icon-instagram-with-circle:before{content:""}.icon-facebook-with-circle:before{content:""}.icon-telegram:before{content:""}.icon-tape_measure:before{content:""}.icon-tape_measure2:before{content:""}.icon-user2:before{content:""}.icon-shopping_cart2:before{content:""}.icon-shopping_cart_full2:before{content:""}.icon-shopping_bag_full2:before{content:""}.icon-magnifying_glass2:before{content:""}.icon-heart2:before{content:""}.icon-garbage_can2:before{content:""}.icon-tag2:before{content:""}.icon-mail2:before{content:""}.icon-arrow_curve_top:before{content:""}.icon-twitter-with-circle:before{content:""}.icon-user_circle:before{content:""}.icon-information:before{content:""}.icon-error:before{content:""}.icon-google:before{content:""}.icon-yahoo:before{content:""}