


/******************************
	HELPER
******************************/
.nopadding{
	padding-right: 0px;
	padding-left: 0px;
}


.margin-bottom{
	margin-bottom: 10px;
}

/******************************
	CONTAINERS
******************************/
body{
	color: #212529;
	font-family: -apple-system,BlinkMacSystemFont,"Lato",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-weight: 300;
}
aside{
	background: #E3E8E9;
	border-right:1px solid #dedede;
	position: fixed;
	height: 100%;
	top:0px;
	z-index: 99;
}
aside.dark{background: #406477;}
aside.xs{width: 60px;}
aside.sm{width: 120px;}
aside.md{width: 240px;}
aside.left{left: 0px;}
aside.right{right: 0px;}

main{
	padding-left: 120px;
}
main.left-xs{padding-left:60px}
main.left-sm{padding-left:120px}
main.left-md{padding-left:240px}
main.right-xs{padding-right:60px}
main.right-sm{padding-right:120px}
main.right-md{padding-right:240px}


/******************************
	TEXT & COLOR
******************************/
[class*="bg-"]{
/*
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	margin-bottom: 10px;*/
}

[class*="bg-"].padding{
	padding: 10px;
}

.bg-primary{background-color: #07c;}
.bg-primary-light{background-color: #e0eaf1;}
.bg-primary-ultra{background-color: #f9fbfd;}

.bg-secondary-light{background-color: #A2A7AC;}
.bg-secondary-ultra{background-color: #C5C6C7;}

.bg-success{background-color: #77BE21;}
.bg-success-light{background-color: #8cc34a;}
.bg-success-ultra{background-color: #D6E7C2;}

.bg-danger {background-color: #dc3545;}
.bg-danger-light {background-color: #EA7782;}
.bg-danger-ultra {background-color: #FDA8B0;}

.bg-warning{}
.bg-warning-light{background-color:#FDD869;}
.bg-warning-ultra{background-color:#FDEEBF;}

.bg-info{}
.bg-info-light{background-color:#4CC7DB;}
.bg-info-ultra{background-color:#B0D8DE;}

.bg-gray{background-color: #AAA;}
.bg-gray-light{background-color: #DEDEDE;}
.bg-gray-ultra{background-color: #F0F0F0;}

.section-padding{
	padding: 25px 0px;
}

/******************************
	FORM
******************************/
.form-control{
	border: 1px solid #ccc;
}
input.form-control,
select.form-control{
	height: 45px;
}

.form-select{
	height: auto;
	width: auto;
	position: relative;
	background: #fff none repeat scroll 0 0;
}
.form-select .form-control,
.form-select select.form-control:not([size]):not([multiple]){
	background: transparent;
	border: 1px solid #ccc;
	box-shadow: none;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	margin-top: 15px;
	padding: 12px 20px;
	position: relative;
	text-align: left;
	z-index: 98;
	margin: 0px;
	height: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.form-select select::-ms-expand {
	display: none;
}
.form-select option{
	padding: 12px 15px;
	font-size: 16px;
}
.form-select:after{
	position: absolute;
	content: ' ';
	z-index: 1;
	cursor: pointer;
    background-color: #f1f1f1;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAzMSAxNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+aWNuLWRyb3Bkb3duPC90aXRsZT48cGF0aCBkPSJNLjAwMyAxLjQxN2MwLS4zNjIuMTM4LS43MjUuNDExLTEuMDAzYTEuNDA1IDEuNDA1IDAgMCAxIDEuOTkzIDBMMTUuNSAxMy41OCAyOC41OTUuNDE0YTEuNDA1IDEuNDA1IDAgMCAxIDEuOTkzIDBjLjU1LjU1My41NSAxLjQ1MSAwIDIuMDA0TDE2LjQ5NiAxNi41ODZhMS40MDUgMS40MDUgMCAwIDEtMS45OTMgMEwuNDExIDIuNDE4QTEuNDE1IDEuNDE1IDAgMCAxIDAgMS40MTVsLjAwMy4wMDJ6IiBmaWxsPSIjOEY4RThFIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=");
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: 15px 8px;
    border-radius: 0 3px 3px 0;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid #ccc;
    height: 45px;
    width: 45px;
}


.bx-divider-left{
	border-left: 2px solid #f0f0f0;
	padding-left: 15px;
	padding-bottom: 40px;
	/*margin-top: 15px;*/
}






.btn-success-light {
	background-color: #8cc34a;
	color: #fff;
}
